#header{
    text-align: right;
    margin-right: 135px;
    margin-left: 641px;
}

#header li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    color: whitesmoke;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;                                     
}

body{
    background-image: linear-gradient(90deg, #202020, #000000);
} 

#name{
    color: whitesmoke;
    font-family: 'Gotham', sans-serif;
    font-weight: bold;
    font-size: 150px;
}

p{
    margin: 0px;
}

#text{
    color: whitesmoke;
    font-family: 'Gotham', sans-serif;
    font-weight: 150px;
    font-size: 16px;
}

#container1{
    display: flex;
    align-items: center;
}

#profiles img{
    width: 80%;
}

#abouts{
    float: left;
    margin-left: 300px;
}